In [1]:
import pandas as pd

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
from sports_etl.etl.extract import load_team_stats

df = load_team_stats("./data/teamstats.csv")  # adjust filename if needed
df.head()

[INFO] Loaded 60 rows Ã— 26 columns from teamstats.csv

,season,position,team,gp,w,l,win_percent,ppg,fgm,fga,fg_percent,threepoint_fgm,threepoint_fga,threepoint_fg_percent,ftm,fta,ft_percent,oreb,dreb,reb,ast,tov,stl,blk,pf,pfd
0,2022,1,Las Vegas Aces,36,26,10,0.722,90.4,32.3,70.3,46.0,9.5,26.4,36.1,16.3,19.8,82.3,6.9,28.4,35.3,20.8,11.7,7.7,3.9,15.8,17.8
1,2022,2,Chicago Sky,36,26,10,0.722,86.3,32.7,67.9,48.1,7.2,20.9,34.5,13.7,16.6,82.3,7.2,27.6,34.8,24.3,14.8,7.3,4.3,16.2,16.5
2,2022,3,Connecticut Sun,36,25,11,0.694,85.8,31.9,69.0,46.2,6.4,18.0,35.4,15.7,19.9,78.9,10.2,26.9,37.1,21.1,15.6,8.8,2.7,17.1,18.9
3,2022,4,Seattle Storm,36,22,14,0.611,82.5,30.4,68.8,44.2,9.3,25.6,36.1,12.4,15.1,82.5,7.8,25.8,33.6,22.6,13.4,8.3,4.2,15.6,16.1
4,2022,5,Washington Mystics,36,22,14,0.611,80.2,29.3,66.8,43.9,7.6,22.5,33.8,14.0,17.9,78.4,8.0,26.9,34.9,20.3,13.7,7.6,3.7,15.9,17.4

In [4]:
!pwd

/home/maxkennebrew/projects/sports_etl_project

In [5]:
from sports_etl.etl.transform import transform_team_stats

df_clean = transform_team_stats(df)
df_clean.head()

[INFO] Transformed team stats with new features.

,season,position,team,gp,w,l,win_percent,ppg,fgm,fga,fg_percent,3pt_m,3pt_a,threepoint_fg_percent,ftm,fta,ft_percent,oreb,dreb,reb,ast,tov,stl,blk,pf,pfd,3pt_pct,efg_pct,possessions,off_rating
0,2022,1,Las Vegas Aces,36,26,10,0.722,90.4,32.3,70.3,46.0,9.5,26.4,36.1,16.3,19.8,82.3,6.9,28.4,35.3,20.8,11.7,7.7,3.9,15.8,17.8,0.359848,0.527027,83.812,107.860450
1,2022,2,Chicago Sky,36,26,10,0.722,86.3,32.7,67.9,48.1,7.2,20.9,34.5,13.7,16.6,82.3,7.2,27.6,34.8,24.3,14.8,7.3,4.3,16.2,16.5,0.344498,0.534610,82.804,104.222018
2,2022,3,Connecticut Sun,36,25,11,0.694,85.8,31.9,69.0,46.2,6.4,18.0,35.4,15.7,19.9,78.9,10.2,26.9,37.1,21.1,15.6,8.8,2.7,17.1,18.9,0.355556,0.508696,83.156,103.179566
3,2022,4,Seattle Storm,36,22,14,0.611,82.5,30.4,68.8,44.2,9.3,25.6,36.1,12.4,15.1,82.5,7.8,25.8,33.6,22.6,13.4,8.3,4.2,15.6,16.1,0.363281,0.509448,81.044,101.796555
4,2022,5,Washington Mystics,36,22,14,0.611,80.2,29.3,66.8,43.9,7.6,22.5,33.8,14.0,17.9,78.4,8.0,26.9,34.9,20.3,13.7,7.6,3.7,15.9,17.4,0.337778,0.495509,80.376,99.781029

In [8]:
from sports_etl.etl.load import save_to_csv, save_to_sqlite

# Save to CSV
save_to_csv(df_clean, "./data/teamstats_clean.csv")

# Save to SQLite
# Options for if_exists are "append" or "replace"
save_to_sqlite(df_clean, "../data/teamstats.db", "team_stats_clean", if_exists="replace")

[INFO] Saved DataFrame to CSV: data/teamstats_clean.csv
[INFO] Saved DataFrame to SQLite: data/teamstats.db (table: team_stats_clean)

In [10]:
df2 = load_team_stats("./data/wnba_gamelogs_2015_2024.csv")
df2.head()

[INFO] Loaded 3942 rows Ã— 41 columns from wnba_gamelogs_2015_2024.csv

,Season,Team,G#,Date,Home,Opp,W/L,Tm_Pts,Opp_Pts,Tm_FG,Tm_FGA,Tm_FG%,Tm_3P,Tm_3PA,Tm_3P%,Tm_FT,Tm_FTA,Tm_FT%,Tm_ORB,Tm_TRB,Tm_AST,Tm_STL,Tm_BLK,Tm_TOV,Tm_PF,Opp_FG,Opp_FGA,Opp_FG%,Opp_3P,Opp_3PA,Opp_3P%,Opp_FT,Opp_FTA,Opp_FT%,Opp_ORB,Opp_TRB,Opp_AST,Opp_STL,Opp_BLK,Opp_TOV,Opp_PF
0,2015,ATL,1,2015-06-05,0,NYL,L,73,82,24,67,0.358,7,20,0.350,18,22,0.818,12,34,15,8,3,19,22,29,60,0.483,3,15,0.200,21,26,0.808,4,32,16,13,4,15,20
1,2015,ATL,2,2015-06-07,1,CON,L,70,75,25,68,0.368,3,16,0.188,17,18,0.944,17,51,13,4,5,25,20,28,71,0.394,7,21,0.333,12,19,0.632,8,25,14,18,3,11,24
2,2015,ATL,3,2015-06-11,1,SAS,W,72,69,28,76,0.368,3,13,0.231,13,18,0.722,20,41,12,10,5,15,25,23,62,0.371,7,24,0.292,16,18,0.889,8,29,19,6,7,17,18
3,2015,ATL,4,2015-06-12,0,WAS,W,64,61,24,62,0.387,7,18,0.389,9,10,0.900,8,34,15,10,1,16,16,23,63,0.365,5,16,0.313,10,12,0.833,11,32,15,7,2,15,18
4,2015,ATL,5,2015-06-14,0,CON,L,64,82,26,64,0.406,3,13,0.231,9,12,0.750,10,26,16,15,1,24,10,34,59,0.576,9,17,0.529,5,6,0.833,6,26,17,13,0,23,16

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3942 entries, 0 to 3941
Data columns (total 41 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Season   3942 non-null   int64
 1   Team     3942 non-null   object
 2   G#       3942 non-null   int64
 3   Date     3942 non-null   object
 4   Home     3942 non-null   int64
 5   Opp      3942 non-null   object
 6   W/L      3942 non-null   object
 7   Tm_Pts   3942 non-null   int64
 8   Opp_Pts  3942 non-null   int64
 9   Tm_FG    3942 non-null   int64
 10  Tm_FGA   3942 non-null   int64
 11  Tm_FG%   3942 non-null   float64
 12  Tm_3P    3942 non-null   int64
 13  Tm_3PA   3942 non-null   int64
 14  Tm_3P%   3942 non-null   float64
 15  Tm_FT    3942 non-null   int64
 16  Tm_FTA   3942 non-null   int64
 17  Tm_FT%   3941 non-null   float64
 18  Tm_ORB   3942 non-null   int64
 19  Tm_TRB   3942 non-null   int64
 20  Tm_AST   3942 non-null   int64
 21  Tm_STL   3942 non-null   int64
 22  Tm_BLK   3942 non-null   int64
 23  Tm_TOV   3942 non-null   int64
 24  Tm_PF    3942 non-null   int64
 25  Opp_FG   3942 non-null   int64
 26  Opp_FGA  3942 non-null   int64
 27  Opp_FG%  3942 non-null   float64
 28  Opp_3P   3942 non-null   int64
 29  Opp_3PA  3942 non-null   int64
 30  Opp_3P%  3942 non-null   float64
 31  Opp_FT   3942 non-null   int64
 32  Opp_FTA  3942 non-null   int64
 33  Opp_FT%  3941 non-null   float64
 34  Opp_ORB  3942 non-null   int64
 35  Opp_TRB  3942 non-null   int64
 36  Opp_AST  3942 non-null   int64
 37  Opp_STL  3942 non-null   int64
 38  Opp_BLK  3942 non-null   int64
 39  Opp_TOV  3942 non-null   int64
 40  Opp_PF   3942 non-null   int64
dtypes: float64(6), int64(31), object(4)
memory usage: 1.2+ MB