In [1]:
import pandas as pd

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
from sports_etl.etl.extract import load_team_stats

df = load_team_stats("./data/wnba_gamelogs_2015_2024.csv")  # adjust filename if needed
df.head()

[INFO] Loaded 3942 rows × 41 columns from wnba_gamelogs_2015_2024.csv

,Season,Team,G#,Date,Home,Opp,W/L,Tm_Pts,Opp_Pts,Tm_FG,Tm_FGA,Tm_FG%,Tm_3P,Tm_3PA,Tm_3P%,Tm_FT,Tm_FTA,Tm_FT%,Tm_ORB,Tm_TRB,Tm_AST,Tm_STL,Tm_BLK,Tm_TOV,Tm_PF,Opp_FG,Opp_FGA,Opp_FG%,Opp_3P,Opp_3PA,Opp_3P%,Opp_FT,Opp_FTA,Opp_FT%,Opp_ORB,Opp_TRB,Opp_AST,Opp_STL,Opp_BLK,Opp_TOV,Opp_PF
0,2015,ATL,1,2015-06-05,0,NYL,L,73,82,24,67,0.358,7,20,0.350,18,22,0.818,12,34,15,8,3,19,22,29,60,0.483,3,15,0.200,21,26,0.808,4,32,16,13,4,15,20
1,2015,ATL,2,2015-06-07,1,CON,L,70,75,25,68,0.368,3,16,0.188,17,18,0.944,17,51,13,4,5,25,20,28,71,0.394,7,21,0.333,12,19,0.632,8,25,14,18,3,11,24
2,2015,ATL,3,2015-06-11,1,SAS,W,72,69,28,76,0.368,3,13,0.231,13,18,0.722,20,41,12,10,5,15,25,23,62,0.371,7,24,0.292,16,18,0.889,8,29,19,6,7,17,18
3,2015,ATL,4,2015-06-12,0,WAS,W,64,61,24,62,0.387,7,18,0.389,9,10,0.900,8,34,15,10,1,16,16,23,63,0.365,5,16,0.313,10,12,0.833,11,32,15,7,2,15,18
4,2015,ATL,5,2015-06-14,0,CON,L,64,82,26,64,0.406,3,13,0.231,9,12,0.750,10,26,16,15,1,24,10,34,59,0.576,9,17,0.529,5,6,0.833,6,26,17,13,0,23,16

In [4]:
from sports_etl.etl.transform import transform_team_stats_my_dataset

df_clean = transform_team_stats_my_dataset(df)
df_clean.head()

[INFO] Transformed team stats — final shape after deduplication: (3940, 48)
[INFO] Transformed team stats with new features.

,Season,Team,G#,Date,Home,Opp,W/L,Tm_Pts,Opp_Pts,Tm_FG,Tm_FGA,Tm_FG%,Tm_3P,Tm_3PA,Tm_3P%,Tm_FT,Tm_FTA,Tm_FT%,Tm_ORB,Tm_TRB,Tm_AST,Tm_STL,Tm_BLK,Tm_TOV,Tm_PF,Opp_FG,Opp_FGA,Opp_FG%,Opp_3P,Opp_3PA,Opp_3P%,Opp_FT,Opp_FTA,Opp_FT%,Opp_ORB,Opp_TRB,Opp_AST,Opp_STL,Opp_BLK,Opp_TOV,Opp_PF,win_margin,Tm_poss,Opp_poss,Tm_off_rating,Tm_def_rating,Tm_tov_rate,Opp_tov_rate
0,2015,ATL,1,2015-06-05,0,NYL,L,73,82,24,67,0.358,7,20,0.350,18,22,0.818,12,34,15,8,3,19,22,29,60,0.483,3,15,0.200,21,26,0.808,4,32,16,13,4,15,20,-9,83.68,82.44,87.237094,99.466279,0.227055,1.0
1,2015,ATL,2,2015-06-07,1,CON,L,70,75,25,68,0.368,3,16,0.188,17,18,0.944,17,51,13,4,5,25,20,28,71,0.394,7,21,0.333,12,19,0.632,8,25,14,18,3,11,24,-5,83.92,82.36,83.412774,91.063623,0.297903,1.0
2,2015,ATL,3,2015-06-11,1,SAS,W,72,69,28,76,0.368,3,13,0.231,13,18,0.722,20,41,12,10,5,15,25,23,62,0.371,7,24,0.292,16,18,0.889,8,29,19,6,7,17,18,3,78.92,78.92,91.231627,87.430309,0.190066,1.0
3,2015,ATL,4,2015-06-12,0,WAS,W,64,61,24,62,0.387,7,18,0.389,9,10,0.900,8,34,15,10,1,16,16,23,63,0.365,5,16,0.313,10,12,0.833,11,32,15,7,2,15,18,3,74.40,72.28,86.021505,84.394023,0.215054,1.0
4,2015,ATL,5,2015-06-14,0,CON,L,64,82,26,64,0.406,3,13,0.231,9,12,0.750,10,26,16,15,1,24,10,34,59,0.576,9,17,0.529,5,6,0.833,6,26,17,13,0,23,16,-18,83.28,78.64,76.849183,104.272635,0.288184,1.0

In [6]:
from sports_etl.etl.load import save_to_csv, save_to_sqlite

# Save to CSV
save_to_csv(df_clean, "./data/teamstats_10_yr_clean.csv")

# Save to SQLite
# Options for if_exists are "append" or "replace"
save_to_sqlite(df_clean, "./data/teamstats.db", "team_stats_10_yr_clean", if_exists="replace")

[INFO] Saved DataFrame to CSV: data/teamstats_10_yr_clean.csv
[INFO] Saved DataFrame to SQLite: data/teamstats.db (table: team_stats_10_yr_clean, mode: replace)